<a href="https://colab.research.google.com/github/seoyeon7/ECG_Data_Analysis/blob/main/Data_analysis_Statistics_for_Before_and_After_(Filtering).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import os

In [7]:
def main_start(file_name,plus,num):
  file_full = dataset_path + '/' + file_name
  df = pd.read_csv(file_full, skiprows=[1, 2])

  data=df['signal'].str.strip("[")
  data2=data.str.strip("]")
  dataset = data2.str.split(',', expand=True)

  dataset.columns = ['before', 'after']
  dataset["after"]=dataset["after"].astype('float')
  dataset["before"]=dataset["before"].astype('float')

  datadiff = dataset.diff(axis=1)
  datadiff = datadiff.drop(['before'], axis=1)

  dataset=pd.concat([dataset, datadiff], axis=1)
  dataset.columns = ['before', 'after', 'diff']

  x_des =dataset.describe()
  data1 = x_des.round(5)


  feature_data = pd.DataFrame(columns = ['before_mean','before_std', 'before_min', 'before_max', 'after_mean','after_std', 'after_min', 'after_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max'])
  feature_data.loc[0] = [data1.iloc[1]['before'], data1.iloc[2]['before'], data1.iloc[3]['before'], data1.iloc[7]['before'], data1.iloc[1]['after'], data1.iloc[2]['after'], data1.iloc[3]['after'], data1.iloc[7]['after'], data1.iloc[1]['diff'], data1.iloc[2]['diff'], data1.iloc[3]['diff'], data1.iloc[7]['diff']]

  return feature_data

In [11]:
if __name__=="__main__":
  num_lis = [18, 20, 23, 24, 25, 26, 27, 28, 29, 31, 33]
  dataset=pd.DataFrame(columns = ['before_mean','before_std', 'before_min', 'before_max', 'after_mean','after_std', 'after_min', 'after_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max'])

  for nl in num_lis:
    temp = nl
    dataset_path = '/content/drive/MyDrive/weka/ECG(electrocardiogram) (1)/{}'.format(temp)
    last_dataset=pd.DataFrame(columns = ['before_mean','before_std', 'before_min', 'before_max', 'after_mean','after_std', 'after_min', 'after_max', 'diff_mean', 'diff_std', 'diff_min', 'diff_max'])

    if not os.path.isdir(dataset_path):
      exit()
    else:
      file_list = os.listdir(dataset_path)
      for fl in range(len(file_list)):
        data_name = file_list[fl]
        name2=data_name[9:-10]
        last_dataset = last_dataset.append(main_start(data_name,round(10010/temp),temp), ignore_index=True)
        last_dataset.loc[fl, 'classfi'] = name2
      dataset=dataset.append(last_dataset)

In [12]:
dataset

,before_mean,before_std,before_min,before_max,after_mean,after_std,after_min,after_max,diff_mean,diff_std,diff_min,diff_max,classfi
0,-0.00537,0.26401,-0.790,0.880,0.00011,0.10559,-0.235,0.485,0.00548,0.24150,-0.665,0.700,Person_09
0,0.14143,0.23480,-0.590,1.010,0.00093,0.13777,-0.385,0.490,-0.14050,0.18939,-0.665,0.355,Person_09
1,0.17733,0.23472,-0.580,1.025,0.00085,0.12289,-0.340,0.465,-0.17648,0.19942,-0.730,0.455,Person_09
0,0.11788,0.27567,-0.685,1.375,-0.00101,0.12337,-0.175,0.845,-0.11888,0.24474,-0.720,0.700,Person_03
1,0.02161,0.24471,-0.535,1.150,-0.00165,0.11929,-0.205,0.810,-0.02326,0.21398,-0.640,0.510,Person_03
0,-0.21797,0.17339,-0.755,0.570,-0.00025,0.09650,-0.315,0.470,0.21772,0.14282,-0.165,0.550,Person_10
1,-0.09974,0.29116,-0.845,1.315,-0.00084,0.14589,-0.250,1.075,0.09890,0.25006,-0.515,0.740,Person_03
2,0.19227,0.18479,-0.395,1.145,0.00113,0.10974,-0.240,0.710,-0.19113,0.14665,-0.625,0.320,Person_01
0,-0.37020,0.43948,-1.255,1.140,0.00131,0.12475,-0.475,0.630,0.37152,0.41867,-0.625,1.055,Person_09
1,-0.93205,0.21284,-1.690,-0.110,-0.00073,0.09755,-0.360,0.410,0.93131,0.18920,0.425,1.570,Person_09
2,0.15345,0.26067,-0.395,1.520,-0.00034,0.14042,-0.280,0.970,-0.15379,0.21689,-0.660,0.365,Person_03
3,0.37202,0.34005,-0.565,1.760,0.00038,0.15216,-0.245,1.105,-0.37164,0.30214,-1.020,0.490,Person_03
4,0.08205,0.16809,-0.385,0.890,0.00084,0.11063,-0.305,0.535,-0.08121,0.12650,-0.470,0.240,Person_02
5,-0.00930,0.15009,-0.360,0.940,0.00170,0.13177,-0.195,0.815,0.01101,0.06692,-0.270,0.260,Person_01
0,-0.06372,0.13243,-0.405,0.510,-0.00049,0.08059,-0.210,0.400,0.06322,0.10485,-0.170,0.290,Person_02
1,-0.01160,0.15190,-0.625,2.115,-0.00122,0.12931,-0.295,1.160,0.01038,0.07993,-1.295,0.975,Person_01
2,-0.01640,0.28205,-0.680,1.305,0.00003,0.11677,-0.180,0.725,0.01643,0.25732,-1.015,0.570,Person_01
0,-0.01656,0.23774,-0.705,1.205,-0.00063,0.11513,-0.390,0.570,0.01593,0.20681,-0.685,0.460,Person_10
1,-0.28525,0.29295,-1.485,0.530,-0.00383,0.09948,-0.425,0.425,0.28143,0.27449,-0.155,1.275,Person_02
2,0.07187,0.14582,-0.255,0.950,-0.00040,0.12736,-0.215,0.780,-0.07227,0.06907,-0.275,0.145,Person_01
0,0.04787,0.19542,-0.560,1.150,0.00100,0.11194,-0.395,0.525,-0.04687,0.15960,-0.645,0.320,Person_10
1,-0.05991,0.22339,-0.650,1.210,-0.00053,0.13545,-0.380,0.685,0.05938,0.17522,-0.565,0.485,Person_10
0,0.03020,0.26378,-0.810,0.985,0.00435,0.09060,-0.260,0.440,-0.02585,0.24590,-0.705,0.670,Person_02
0,0.12217,0.13522,-0.385,0.725,-0.00197,0.09822,-0.385,0.445,-0.12414,0.09314,-0.370,0.150,Person_02
0,0.06434,0.24826,-0.775,1.290,0.00049,0.13908,-0.455,0.715,-0.06385,0.20255,-0.625,0.465,Person_10

In [13]:
def pandas2arff(df,filename,wekaname = "pandasdata",cleanstringdata=True,cleannan=True):
    """
    converts the pandas dataframe to a weka compatible file
    df: dataframe in pandas format
    filename: the filename you want the weka compatible file to be in
    wekaname: the name you want to give to the weka dataset (this will be visible to you when you open it in Weka)
    cleanstringdata: clean up data which may have spaces and replace with "_", special characters etc which seem to annoy Weka. 
                     To suppress this, set this to False
    cleannan: replaces all nan values with "?" which is Weka's standard for missing values. 
              To suppress this, set this to False
    """
    import re
    
    def cleanstring(s):
        if s!="?":
            return re.sub('[^A-Za-z0-9]+', "_", str(s))
        else:
            return "?"
            
    dfcopy = df #all cleaning operations get done on this copy

    
    if cleannan!=False:
        dfcopy = dfcopy.fillna(-999999999) #this is so that we can swap this out for "?"
        #this makes sure that certain numerical columns with missing values don't get stuck with "object" type
 
    f = open(filename,"w")
    arffList = []
    arffList.append("@relation " + wekaname + "\n")
    #look at each column's dtype. If it's an "object", make it "nominal" under Weka for now (can be changed in source for dates.. etc)
    for i in range(df.shape[1]):
        if dfcopy.dtypes[i]=='O' or (df.columns[i] in ["Class","CLASS","class"]):
            if cleannan!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].replace(to_replace=-999999999, value="?")
            if cleanstringdata!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].apply(cleanstring)
            _uniqueNominalVals = [str(_i) for _i in np.unique(dfcopy.iloc[:,i])]
            _uniqueNominalVals = ",".join(_uniqueNominalVals)
            _uniqueNominalVals = _uniqueNominalVals.replace("[","")
            _uniqueNominalVals = _uniqueNominalVals.replace("]","")
            _uniqueValuesString = "{" + _uniqueNominalVals +"}" 
            arffList.append("@attribute " + df.columns[i] + _uniqueValuesString + "\n")
        else:
            arffList.append("@attribute " + df.columns[i] + " real\n") 
            #even if it is an integer, let's just deal with it as a real number for now
    arffList.append("@data\n")           
    for i in range(dfcopy.shape[0]):#instances
        _instanceString = ""
        for j in range(df.shape[1]):#features
                if dfcopy.dtypes[j]=='O':
                    _instanceString+="\"" + str(dfcopy.iloc[i,j]) + "\""
                else:
                    _instanceString+=str(dfcopy.iloc[i,j])
                if j!=dfcopy.shape[1]-1:#if it's not the last feature, add a comma
                    _instanceString+=","
        _instanceString+="\n"
        if cleannan!=False:
            _instanceString = _instanceString.replace("-999999999.0","?") #for numeric missing values
            _instanceString = _instanceString.replace("\"?\"","?") #for categorical missing values
        arffList.append(_instanceString)
    f.writelines(arffList)
    f.close()
    del dfcopy
    return True

In [14]:
pandas2arff(dataset,"/content/drive/MyDrive/weka/data_before_after.arff")

True