<a href="https://colab.research.google.com/github/seoyeon7/ECG_Data_Analysis/blob/main/diff_max_max.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# 데이터셋 구성

In [4]:
data=pd.read_csv("/content/drive/MyDrive/weka/dataset/20221115_Person_09_rec_1.csv", skiprows=[1,2])

In [5]:
data

,row_num,_id,db_id,rcrd_id,signal
0,0.0,602b9de4fdea802a39d38d55,ecgiddb,Person_09/rec_1,"[0.3, 0.17]"
1,1.0,602b9de4fdea802a39d38d56,ecgiddb,Person_09/rec_1,"[0.17, 0.065]"
2,2.0,602b9df4fdea802a39d38d57,ecgiddb,Person_09/rec_1,"[0.195, -0.01]"
3,3.0,602b9df4fdea802a39d38d58,ecgiddb,Person_09/rec_1,"[0.08, -0.065]"
4,4.0,602b9df4fdea802a39d38d59,ecgiddb,Person_09/rec_1,"[-0.005, -0.09]"
...,...,...,...,...,...
9995,9995.0,602b9df4fdea802a39d3b460,ecgiddb,Person_09/rec_1,"[0.17, 0.06]"
9996,9996.0,602b9df4fdea802a39d3b461,ecgiddb,Person_09/rec_1,"[-0.005, 0.04]"
9997,9997.0,602b9df4fdea802a39d3b462,ecgiddb,Person_09/rec_1,"[-0.085, 0.02]"
9998,9998.0,602b9df4fdea802a39d3b463,ecgiddb,Person_09/rec_1,"[-0.145, 0.0]"
9999,9999.0,602b9df4fdea802a39d3b464,ecgiddb,Person_09/rec_1,"[-0.18, -0.02]"

In [6]:
data1=data['signal'].str.strip("[")
data2=data1.str.strip("]")
data3 = data2.str.split(',', expand=True)

In [7]:
data_num=data['row_num']

\

In [8]:
dataset=pd.concat([data_num, data3], axis=1)

In [9]:
dataset.columns = ['row_num', 'before', 'after']

In [10]:
dataset

      row_num  before    after
0         0.0     0.3     0.17
1         1.0    0.17    0.065
2         2.0   0.195    -0.01
3         3.0    0.08   -0.065
4         4.0  -0.005    -0.09
...       ...     ...      ...
9995   9995.0    0.17     0.06
9996   9996.0  -0.005     0.04
9997   9997.0  -0.085     0.02
9998   9998.0  -0.145      0.0
9999   9999.0   -0.18    -0.02

[10000 rows x 3 columns]

In [11]:
dataset["after"]=dataset["after"].astype('float')
dataset["before"]=dataset["before"].astype('float')

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   row_num  10000 non-null  float64
 1   before   10000 non-null  float64
 2   after    10000 non-null  float64
dtypes: float64(3)
memory usage: 234.5 KB

# 각 주기의 peak 값 추출

In [13]:
# 각 주기의 max 값 추출

a=20
b=420
list_a = []

for i in range(0,25):
  list_a.append(dataset['after'].iloc[a:b].max())
  a+=400
  b+=400

In [15]:
dataset_max=pd.DataFrame()

dataset_max['max']=pd.DataFrame(list_a)

# 각 주기의 peack 값에 대한 통계량

In [16]:
x_des =dataset_max.describe()
data1 = x_des.round(5)
data1

            max
count  25.00000
mean    0.41040
std     0.03942
min     0.29000
25%     0.38500
50%     0.42000
75%     0.43000
max     0.46500